/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
 *= require rails_bootstrap_forms
 */

 h1 {
 	text-align: center;
 }

 .col-6 {
	border: 0.7px solid black;
}

.container {
	text-align: center;
}

.index {
  position: absolute;
  left: 70%;
  top: 10%;
  border: 1px solid black;
  padding: 5px;
}

.index-logout {
	position: absolute;
  left: 79%;
  top: 10%;
  border: 1px solid black;
  padding: 5px;
}

.actions-boards {
	position: absolute;
  left: 47.7%;
  top: 30%;
  padding: 5px;
}

.edit {
	position: absolute;
  left: 47.5%;
  top: 58%;
  padding: 5px;
}

.newBack {
	position: absolute;
  left: 47.7%;
  top: 58%;
  padding: 5px;
}

/*#1e5a7e*/
.bg-custom {
    background-color: #215e83;
}

a.app-name {
	color:white;
}

/*a.app-name:hover {
  color: #fff;
  background-color: #255;
}*/

/*.field {
	border: 1px solid black;
}*/


a.navlink {
  color: green;
  background-color: grey;
}

.span-archive {
	color: grey;
}

input.btn.search-button {
	border: 0.5px solid black;
	padding: 2px;
	margin-left: 10px;
}


/*https://stackoverflow.com/questions/17217766/two-divs-side-by-side-fluid-display*/
#wrapper {
  display: flex;
}

#left {
  flex: 0 0 50%;
}

#right {
flex: 1 0;
}